ORR_catalyst_generator_env/
/result/
__pycache__/
*.pyc
*.xyz
*.sh


ccgan/result/test/
ccgan/result/log/

ccvae/result/test/
ccvae/result/log/

ccvae_2/result/test/
ccvae_2/result/log/

ccvae_test/

test/Pd-Ni_alloy/best/vasp/result/PdNi111/

test/bayesian_optimization/result